<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->
<title layout:fragment="title">HR</title>
<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/hr/style.css}">
    <script th:src="@{/js/hr/script.js}"></script>
</th:block>

<style>
    /* 상단의 페이지 제목 */
    .page-title {
        text-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.25);
        color: #6B4D27;
    }
</style>

<main layout:fragment="content">
    <script th:if="${result}" th:utext="${result}"></script>

    <h1 class="page-title" style="margin-bottom: 50px;">| Employee List</h1>
    <form method="get" th:action="@{/hr/emp}" class="search" th:object="${empSearch}">
            <label for="every">All</label> <input type="radio" id="every" name="status" value="all" th:field="*{status}" checked>
            <label for="runopt">Employed</label> <input type="radio" id="runopt" name="status" value="running" th:field="*{status}">
            <label for="stopopt">Resigned</label> <input type="radio" id="stopopt" name="status" value="stopped" th:field="*{status}">

        <select name="sopt" style="text-align: center">
            <option value=null th:field="*{sopt}" selected>All</option>
            <option value="dept" th:field="*{sopt}">Department</option>
            <option value="empName" th:field="*{sopt}">Employee Name</option>
            <option value="email" th:field="*{sopt}">Employee Email</option>
        </select>

        <input type="text" th:field="*{text}" class="d-inline-block" placeholder="Please enter a search term">
        <button class="search-button ">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Dept</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody th:each="emp : ${employees}" th:object="${emp}">
            <tr th:onclick="'location.href=\'' + @{/hr/emp/{empId}(empId=*{empId})} + '\''">
                <td th:text="*{empId}"></td>
                <td><a th:href="@{/hr/emp/{empId}(empId=*{empId})}" th:text="*{empName}"></a></td>
                <td th:text="*{dept.deptName}"></td>
                <td>
                    <p th:if="*{position.toString() == 'ROLE_EMPLOYEE'}">Associate</p>
                    <p th:if="*{position.toString() == 'ROLE_TEAMLEADER'}">Team Leader</p>
                    <p th:if="*{position.toString() == 'ROLE_DEPTLEADER'}">Department Head</p>
                    <p th:if="*{position.toString() == 'ROLE_BOSS'}">CEO</p>
                    <p th:if="*{position.toString() == 'ROLE_STOREMANAGER'}">Store Manager</p>
                </td>
                <td th:text="*{empTel}"></td>
                <td th:text="*{email}"></td>
            </tr>

        </tbody>
    </table>
    <a th:href="@{/hr/emp/register}"><button class="commonBtn register-button">Emp-Register</button></a>

    <!-- 페이지네이션 -->
    <div class="pagination">
        <!-- 첫 번째 페이지로 이동 -->
        <a th:href="@{/hr/emp(page=0)}"> << </a>

        <!-- 이전 페이지로 이동 -->
        <a th:classappend="${nowPage == 1} ? 'disabled' : ''"
           class="next-page" th:href="@{/hr/emp(page=${nowPage - 2})}"> < </a>

        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-number" th:href="@{/hr/emp(page=${page - 1}, searchKeyword = ${param.searchKeyword})}" th:if="${page != nowPage}"
               th:text="${page}"></a>
            <strong class="current-page" th:if="${page == nowPage}" th:text="${page}"></strong>
        </th:block>

        <!-- 다음 페이지 이동 -->
        <a th:classappend="${nowPage == totalPages} ? 'disabled' : ''"
           class="next-page" th:href="@{/hr/emp(page=${nowPage})}"> > </a>

        <!-- 마지막 페이지로 이동 -->
        <a th:href="@{/hr/emp(page=${totalPages - 1})}"> >> </a>
    </div>
</main>
</html>