<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div id="profile-box" class="attd-check-box d-flex align-items-center justify-content-evenly" th:fragment="profile">
    <div>
        <img th:src="${profile}" width="80" height="80" class="rounded-circle border-3 border border-dark">
    </div>
    <div class="d-flex align-items-center justify-content-between gap-2">
        <div class="fw-bolder">
            <p>Name</p>
            <p>Position</p>
            <p>Dept</p>
            <p>Empolyee ID</p>
        </div>
        <div>
            <p th:text="${employee.empName}">Employee Name</p>

            <p th:if="${employee.position.toString() == 'ROLE_EMPLOYEE'}">Associate</p>
            <p th:if="${employee.position.toString() == 'ROLE_TEAMLEADER'}">Team Leader</p>
            <p th:if="${employee.position.toString() == 'ROLE_DEPTLEADER'}">Department Head</p>
            <p th:if="${employee.position.toString() == 'ROLE_BOSS'}">CEO</p>
            <p th:if="${employee.position.toString() == 'ROLE_STOREMANAGER'}">Store Manager</p>

            <p th:text="${employee.dept.deptName}">Department</p>
            <p th:text="${employee.empId}">Employee ID</p>
        </div>
    </div>
</div>