<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1 class="page-title" style="margin-bottom: 50px;">| Warehouse InBound Details</h1>
    <div class="content">

        <div class="ipgodetail">
            Inbound Number<input type="text" th:value="${inbound.warehouseInboundId}" readonly>
            <br>
            Registered By<input type="text" th:value="${inbound.getEmployee().getEmpName()}" readonly>
            <br>
            Inbound Date<input type="text" th:value="${#temporals.format(inbound.getWarehouseInboundDate(), 'yyyy.MM.dd a hh:mm')}" readonly>
            <br>
        </div>

        <table class="detail-table">
            <thead>
            <tr>
                <th>Item Code</th><th>Item Name</th><th>Vendor</th><th>Unit Price</th><th>Quantity</th><th>Unit</th><th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i:${inbound.getInboundProducts()}">

                <td th:text="${i.getProduct().productCode}">Item Code</td>
                <td th:text="${i.getProduct().productName}">Item Name</td>
                <td th:text="${i.getProduct().getVendor().getVendorName()}">Vendor</td>
                <td th:text="${i.getProduct().productPrice}">Unit Price</td>

                <td th:text="${i.getInboundQuantity()}">Quantity</td>
                <td th:text="${i.getProduct().productUnit}">Unit</td>
                <td th:text="${i.getInboundPrice()}">Amount</td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td th:text="Total"></td>
                <td colspan="3"></td>
                <td th:text="${inbound.getTotalQuantity()}">Total Quantity</td>
                <td></td>
                <td th:text="${inbound.getTotalPrice()}">Total Price</td>
            </tr>
            </tfoot>
        </table>


    </div>
</main>


</html>