<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<!--title-->

<th:block layout:fragment="addMore">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logistic/style.css}">
    <script th:src="@{/js/logistic/warehouse/script.js}"></script>
</th:block>

<main layout:fragment="content">
    <h1>Warehouse Inventory Details</h1>
    <div class="content">
        <div class="small-content">
            <table class="vertical-table">
                <tbody>
                <tr>
                    <th>Item ID</th>
                    <td th:text="${inventory.getProductCode()}">p.productCode</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td th:text="${inventory.getProductCategory()}">카테고리</td>
                </tr>
                <tr>
                    <th>Item Name</th>
                    <td th:text="${inventory.productName}">p.productCode</td>
                </tr>
                <tr>
                    <th>Item Price</th>
                    <td th:text="${inventory.productPrice}">p.productCode</td>
                </tr>
                <tr>
                    <th>Item Unit</th>
                    <td th:text="${inventory.productUnit}">p.productCode</td>
                </tr>
                <tr>
                    <th>창고 재고 수량</th>
                    <td th:text="${inventory.productCnt}">p.productCode</td>
                </tr>

                <tr>
                    <th>최근 입고일</th>
                    <td th:text="${#temporals.format(inventory.getModifiedAt(),'yyyy.MM.dd a hh:mm')}"></td>
                </tr>
                <tr>
                    <th>판매 여부</th>
                    <td th:text="${inventory.productSelling}">p.productCode</td>
                </tr>

                </tbody>
            </table>

        </div>

        <div class="bottom-button">
            <a th:href="@{/logistic/stock/warehouse/list}">
                <button class="commonBtn cancel-button"> To List</button>
            </a>
            <a th:href="@{/logistic/stock/warehouse/update/{code}(code=${inventory.getProductCode()})}">
                <button class="commonBtn edit-button"> Edit</button>
            </a>
        </div>
    </div>
</main>


</html>